<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Test</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js"></script>
      <script type="text/javascript">
         var socket;
         $(document).ready(function() {
         
           // sending a connect request to the server.
           socket = io.connect();

           socket.emit('create_room', {
                   name: 'sunnyguan',
                   room_name: '1',
                   difficulties: [2,1,2],
                   topics: ['Array', 'Linked List']
            });

         //   socket.emit('join_room', {
         //           name: 'nhingo',
         //           room_id: '1'
         //    });

         //   socket.emit('message',{message: 'Hello'});
         //   socket.on('message', function(msg) {
         //    console.log(msg)
         //   });

         //   socket.emit('submission',
         //   {
         //    "status_code": 20,
         //    "lang": "cpp",
         //    "run_success": false,
         //    "compile_error": "Line 16: Char 5: error: non-void function does not return a value [-Werror,-Wreturn-type]",
         //    "full_compile_error": "Line 16: Char 5: error: non-void function does not return a value [-Werror,-Wreturn-type]\n    }\n    ^\n1 error generated.",
         //    "status_runtime": "N/A",
         //    "memory": 0,
         //    "question_id": "1029",
         //    "task_finish_time": 1666473810754,
         //    "elapsed_time": 0,
         //    "total_correct": null,
         //    "total_testcases": null,
         //    "runtime_percentile": null,
         //    "status_memory": "N/A",
         //    "memory_percentile": null,
         //    "pretty_lang": "C++",
         //    "submission_id": "828161291",
         //    "status_msg": "Compile Error",
         //    "state": "SUCCESS"
         //   });
         //   socket.on('submission', function(msg) {
         //    console.log(msg)
         //   });

         });

         function leave_room() {
            socket.emit('leave_room')

            socket.on('current_room_number', function(rooms) {
               console.log('After leaving a room: ', rooms);
           });

           socket.on('current_players', function(player) {
               console.log('After leaving a room, users in this room: ', player);
           });
         }

      </script>
   </head>
   <body>
      <div class="container text-center">
         <h1 >Test</h1>
         <button onClick="leave_room()">Leave</button>
      </div>
   </body>
</html>